@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
body{
    font-family: 'Questrial', sans-serif;
}

header {
    position: relative;
    box-shadow: 0px 5px 4px 0px rgb(63 63 63 / 27%);
    background-color: #fff;
}
.banner {
    height: 400px;
    position: relative;
}

.banner img{
    opacity: 0;
    width: 100%;
    position: absolute;
    height: 400px;

    object-fit: cover;

    transition: opacity 800ms;
    
}

.banner img.selected { 
    opacity: 1;
}

aside {
    min-height: 100vh;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: #C2185B;
}

.btn-primary{
    background-color: #C2185B;
    border-color: #C2185B;
}

main.login {
    width: 400px;
}

section.full{
    width: 100%;
    min-height: 80vh;
    padding: 50px 0;
}

article.evento {
    width: 350px;
}

footer nav ul{
    list-style: none;
    display: flex;
}

footer nav ul li  {
    padding: 10px;
}


@media(max-width: 600px){
 
.banner{
    
    height: 400px;
}
.banner img{
    
    height: 400px;
}

}


@media(min-width:1440px){
    .banner{
        
        height: 400px;
    }
    .banner img{
        
        height: 400px;
    }
}